[2015-03-04 17:21] wightmike opened #1 "lf.css - installer"
I migrated the installer to lf.css in #19. Please look it over when you have a chance.

[2015-03-04 17:22] wightmike opened #2 "lf.css - responsive navigation"
The navigation menu needs to be responsive and include a toggle button that displays / hides the menu.

[2015-03-04 17:23] wightmike opened #3 "lf.css - dropdown nav"
We need styling for nav child items to create dropdown navigation buttons

[2015-03-08 21:59] bioshazard opened #4 "admin - add 'anonymous' to ACL tool"
Should be able to deny access to anonymous user.

[2015-03-10 05:08] wightmike opened #5 "lf.css - tabs"
radio buttons

display child div when selected

[2015-03-10 06:10] wightmike commented on #3
Dropdown navs are now working.

.main_nav works with dropdowns by default.

thinking about making a .dropdown class as well.

[2015-03-10 06:12] wightmike commented on #3
At the moment, second level children are indented and their text is made smaller. Open to suggestions.

http://wightdev.com/

[2015-03-10 06:14] wightmike commented on #3
latest pushed to development

[2015-03-10 10:55] bioshazard commented on #3
so hawt. I love it!

[2015-03-10 15:38] wightmike opened #6 "lf.css - icon font"
I need to integrate an icon font to be used in lf.css

[2015-03-10 15:39] wightmike commented on #1
This could use a quick design revamp

[2015-03-10 23:30] wightmike opened #8 "admin settings - radio buttons don't save properly"

[2015-03-11 00:41] wightmike opened #9 "admin settings - upgrade needs to provide a notice"
there should be a notice "successful upgrade" and it should not return to the dahsboard, it should stay on settings.

[2015-03-11 00:50] wightmike opened #10 "admin settings - upgrade is broken"
Clicking on upgrade sends you to the dashboard and doesn't upgrade/update anything.

[2015-03-11 01:02] wightmike opened #11 "public - everything that isn't system"
A fundamental and crucial change to our file structure.

[2015-03-11 01:03] wightmike commented on #8
Do the other settings save properly?

[2015-03-11 01:31] wightmike opened #12 "system - string replacement"
Are we making the move?

%content%

or

$content

[2015-03-11 02:18] bioshazard commented on #11
not 100% on this. will need to think on it a bit more

[2015-03-11 02:28] wightmike commented on #11
I believe we've scrapped this idea for now.

[2015-03-11 02:28] #11 closed, assigned to bioshazard

[2015-03-11 02:32] bioshazard commented on #12
Yes. We will be moving to php based content replacement. This will likely
involve the introduction of a template system. Such a move will address a
long standing I have had with templating in general.
On Mar 10, 2015 9:31 PM, "Michael Wight" notifications@github.com wrote:

[2015-03-11 02:54] kripplek commented on #12
#templateObject

[2015-03-11 03:13] wightmike opened #13 "system - debug and head"
lf/system/littlefoot.php

lines 855 - 900 are pretty nasty

[2015-03-11 03:16] wightmike commented on #13
I'll get rid of the inline style and lf.css it up.

[2015-03-11 18:42] wightmike commented on #6
font awesome isn't working.. hmmm

[2015-03-11 19:56] bioshazard commented on #6
got a link to the commit you are working with? or is it on a branch in
your local repo?

On 3/11/2015 2:42 PM, Michael Wight wrote:

[2015-03-11 21:00] wightmike commented on #6
Here's the commit.

https://github.com/eflip/LittlefootCMS/commit/2384f4bd3122d841f6a873e71ec1d396156cfbc5

I used it at the bottom of the http://wightdev.com homepage.

[2015-03-11 22:41] bioshazard commented on #6
Strange, it shows in firebug as just blocks. Not sure what to tell ya :\

[2015-03-11 22:51] wightmike commented on #6
fixed, we now have awesome font icons.

https://github.com/eflip/LittlefootCMS/commit/8036a8b014acaba7be4e1b796538ae47942bf0f3
https://github.com/eflip/LittlefootCMS/commit/2384f4bd3122d841f6a873e71ec1d396156cfbc5

[2015-03-11 22:51] #6 closed, assigned to wightmike

[2015-03-11 23:03] bioshazard commented on #8
yes they do. the issue was that when I redid the buttons, I forgot to use "settings[debug]" instead of "debug" for the radio buttons. Silly mistake...

Fix merged to dev @ https://github.com/eflip/LittlefootCMS/pull/15

[2015-03-11 23:04] #8 closed, assigned to bioshazard

[2015-03-11 23:49] bioshazard commented on #10
Resolved in https://github.com/eflip/LittlefootCMS/pull/16

[2015-03-11 23:49] #10 closed, assigned to bioshazard

[2015-03-12 00:01] bioshazard commented on #9
fixed in https://github.com/eflip/LittlefootCMS/commit/bf72e6ed4226a4912450260231165bc9d27b88d5

[2015-03-12 00:01] #9 closed, assigned to bioshazard

[2015-03-12 00:17] bioshazard commented on #4
Resolved in https://github.com/eflip/LittlefootCMS/pull/18

[2015-03-12 00:17] #4 closed, assigned to bioshazard

[2015-03-12 18:24] wightmike opened #22 "admin dashboard - can't delete nav items"

[2015-03-12 23:31] bioshazard commented on #22
mike fixed this in https://github.com/eflip/LittlefootCMS/pull/23

[2015-03-12 23:31] #22 closed, assigned to bioshazard

[2015-03-21 17:44] kripplek opened #26 "OOP switch"
[code]

[2015-03-31 22:42] wightmike opened #29 "plugins - notifications"
Notices should be stored in a database.

Seen status tracked per user.

x (delete) can close a notice and mark as seen.

[2015-03-31 22:44] wightmike opened #30 "plugins - lf comments"
Comments should be a globally usable plugin. Add to DISQUS plugin,

[2015-04-01 01:15] bioshazard commented on #26
Made the intial switch to OOP. Will continue to clean up as I go. I consider this resolved.

[2015-04-01 01:15] #26 closed, assigned to bioshazard

[2015-04-01 01:16] bioshazard commented on #12
I left the string replacement, but now the lf object is more usable in this regard. I need only to add in getters for the needed strings like $lf->skinBase() etc

[2015-04-12 17:34] bioshazard opened #36 "admin/plugins - Uneven boxes"
The plugins manager has a select and input box for adding hooks. They are uneven.

[2015-04-14 23:48] wightmike opened #37 "system - install form"
html echoed in php

[code]

[2015-04-17 04:33] #3 closed, assigned to wightmike

[2015-04-17 04:33] wightmike commented on #1
Done

[2015-04-17 04:33] #1 closed, assigned to wightmike

[2015-04-17 04:35] wightmike opened #43 "mobile.css - menu button / dropdown"
Navigation and other menus should collapse for mobile and use a menu button to expand.

[2015-04-17 04:37] wightmike opened #44 "admin store - tooltips"
The suggestion at the top "Click an app to install it. Update links will download the latest." should be a tooltip (title).

[2015-04-17 04:43] wightmike opened #45 "admin dashboard - admin links in navigation don't work"
The keyboard icons don't take you to the admin of the app like they should.

it looks like

http://wightdev.com/admin/dashboard/apps/pages/

should be

http://wightdev.com/admin/apps/pages/

[2015-04-17 04:58] wightmike opened #46 "demo - revamp"
The demo on littlefootcms.com needs a revamp.

[2015-04-20 22:24] bioshazard opened #48 "lfcss - fXX class, etc"
I would like to be able to go

[code]

and have the resulting output apply `font-size: 24px;` to that element.

[2015-04-20 22:26] bioshazard commented on #48
And like with hXX, it should go like f12 -> f36 or something.

It would be nice to change the `<html>` font size like this:

`<html class="lf f24">`

[2015-04-21 01:12] bioshazard commented on #45
https://github.com/eflip/LittlefootCMS/pull/52

[2015-04-21 01:12] #45 closed, assigned to bioshazard

[2015-04-21 01:13] bioshazard commented on #12
spoke to kyle about saving short code as actual PHP (like markdown to html)

[2015-04-21 01:48] bioshazard opened #53 "admin userbar on front end"
I did some stuff to make the admin user bar show on the front end. Thoughts?

https://github.com/eflip/LittlefootCMS/tree/admin-userbar-on-front

[2015-05-20 01:53] bioshazard opened #66 "Move __autoload to spl_autoload_register()"
http://php.net/manual/en/function.spl-autoload-register.php

[2015-06-09 20:54] bioshazard opened #67 "Offer a way to generate screenshots automatically"
Maybe a remote hosted http://wkhtmltopdf.org/ to pull theme screenies automatically

[2015-06-17 16:37] wightmike opened #68 "skin - code/pre"
code - inline code

pre code - code blocks

[2015-06-21 04:09] ghost opened #69 "Invalid argument supplied"
There's an error at blog_admin.home.php, at line 17. It occur only when no category is created.

Full error issue:
Invalid argument supplied for foreach() in C:\xampp\htdocs\lf\apps\blog\view\blog_admin.home.php on line 17

[2015-07-02 16:26] kripplek commented on #69
This issue was opened in the wrong repository. That file is apart of the blog app. I have created a fix and a PR. Should be good soon. Thanks for reporting.

[2015-07-03 01:03] bioshazard commented on #69
w3bariak,

Thank you for submitting this issue. I have applied https://github.com/eflip/Blog/pull/7 (thanks k-sorrels!) along with a few other updates and released the latest blog. You should be able to delete the blog app and download the latest one from the Store (on the left in the admin). Please let me know if you run into any further issues.

[2015-07-03 01:03] #69 closed, assigned to bioshazard

[2015-07-07 01:50] bioshazard opened #70 "short hand for row and col?"
Could we add `.r` to shorten `.row` and `.c4` to shorten `.col-4`? I think we could get crazy with the short hand and I have an idea for an app!

[2015-07-14 23:26] wightmike opened #72 "blog & forms - shortcode identifier tag"
Blog, Forms, and any similar app, should include a shortcode identifier field that can be copy/pasted into any page in order to integrate that blog/form/etc into the page.

[2015-07-15 00:54] wightmike opened #73 "pages - ace editor"
Pages should use the Ace editor and allow for Markdown as well.

[2015-07-15 01:13] wightmike opened #74 "settings - 'lf release' option moved under version"
Need to move LF Release (Dev or Stable) under the Version section as it has more to do with how you upgrade.

[2015-07-15 22:40] wightmike commented on #48
This is done.

https://github.com/eflip/LittlefootCMS/pull/75/files

[2015-07-15 22:40] #48 closed, assigned to wightmike

[2015-07-16 00:44] wightmike commented on #74
This is complete. I decided to keep it in the options form. The form has been altered to be easier to read and use.

[2015-07-16 00:45] wightmike commented on #74
https://github.com/eflip/LittlefootCMS/pull/76

[2015-07-16 00:45] #74 closed, assigned to wightmike

[2015-07-16 00:58] wightmike commented on #68
This is completed.

https://github.com/eflip/LittlefootCMS/commit/d1024349d1ec7b62c3a16665ffc9f32296ffc3b0

[2015-07-16 00:58] #68 closed, assigned to wightmike

[2015-07-16 02:52] wightmike opened #78 "lfcss - sign up link (line height)"
![image](https://cloud.githubusercontent.com/assets/8368570/8714525/1d91a71c-2b44-11e5-8648-c1e690a2e407.png)

"Sign up" is cut off. Needs to be revised.

[2015-07-16 02:55] wightmike commented on #70
I am worried about collision conflicts with this. .row and .col-4 are short but descriptive classes.

[2015-07-16 02:55] #70 closed, assigned to wightmike

[2015-07-16 02:57] wightmike opened #79 "admin userbar - logo"
Logo needs to be added to user bar.

![image](https://cloud.githubusercontent.com/assets/8368570/8714585/dd0ce9e4-2b44-11e5-8ccf-cac1f0aa009c.png)

[2015-07-16 02:59] wightmike opened #80 "admin login - logo"
Logo needs to be added to admin login page.

![image](https://cloud.githubusercontent.com/assets/8368570/8714616/247833ce-2b45-11e5-8e8f-04f155a85ac7.png)

[2015-07-16 03:01] wightmike opened #81 "admin - tooltips where necessary"
Needs tooltips (titles) on every header in the admin.

[2015-07-16 03:16] wightmike commented on #44
This has been completed.

https://github.com/eflip/LittlefootCMS/pull/82/files

[2015-07-16 03:16] #44 closed, assigned to wightmike

[2015-07-18 15:08] wightmike commented on #2
This issue is being handled here:
https://github.com/eflip/LittlefootCMS/issues/43

[2015-07-18 15:08] #2 closed, assigned to wightmike

[2015-07-18 15:09] wightmike commented on #43
Closed https://github.com/eflip/LittlefootCMS/issues/2 as it was a duplicate of this issue.

[2015-07-18 15:10] wightmike opened #83 "lfcss - select-box sizing"
The select boxes are not sizing properly. They should be the same size as text inputs.

[2015-07-18 15:11] wightmike commented on #83
Related issue:
https://github.com/eflip/LittlefootCMS/issues/36

[2015-07-18 15:11] wightmike commented on #36
This is being handled here: https://github.com/eflip/LittlefootCMS/issues/83

[2015-07-18 15:11] #36 closed, assigned to wightmike

[2015-07-18 15:58] wightmike opened #84 "lf/system/admin/view/login.php - Is it needed?"
lf/system/admin/view/login.php seems redundant since this is actually located in admin/skin/default/login

[2015-07-18 16:25] wightmike commented on #80
Done.
![image](https://cloud.githubusercontent.com/assets/8368570/8762480/fe3256e0-2d47-11e5-8512-843d33b3f119.png)

[2015-07-18 16:27] wightmike commented on #80
https://github.com/eflip/LittlefootCMS/pull/85

[2015-07-18 16:27] #80 closed, assigned to wightmike

[2015-07-18 16:27] wightmike opened #86 "lfcss - .hidden class"
Needed a .hidden class to work from lfcss.

[2015-07-18 16:28] wightmike commented on #86
This is complete.
https://github.com/eflip/LittlefootCMS/pull/85

[2015-07-18 16:28] #86 closed, assigned to wightmike

[2015-07-18 17:37] wightmike commented on #79
This is done
https://github.com/eflip/LittlefootCMS/pull/87

![image](https://cloud.githubusercontent.com/assets/8368570/8762841/28dd706e-2d52-11e5-91db-2aefdf739569.png)

[2015-07-18 17:37] #79 closed, assigned to wightmike

[2015-07-18 23:11] bioshazard opened #89 "lfcss - input"
I had to remove this from input to get things to line up right (when using rows properly)

`margin-bottom: 10px;`

[2015-07-20 23:54] wightmike commented on #89
Good find. Fixing this now.

[2015-07-21 00:33] wightmike commented on #89
This is fixed.

[2015-07-21 00:38] wightmike commented on #89
https://github.com/eflip/LittlefootCMS/pull/90

[2015-07-21 00:38] #89 closed, assigned to wightmike

[2015-07-21 00:42] wightmike commented on #83
I am not seeing this issue on my computer. Joe, do you notice the select fields being the wrong size compared to input fields? They look the same size in Chrome and FF for me.

[2015-07-21 00:43] wightmike commented on #78
Fixed using vlist.

![image](https://cloud.githubusercontent.com/assets/8368570/8790793/f549f6d0-2f1f-11e5-82c2-8ba2156c1b40.png)

[2015-07-21 00:43] #78 closed, assigned to wightmike

[2015-07-21 02:24] wightmike opened #93 "demo - add code samples below examples"

[2015-07-21 02:29] bioshazard opened #94 "new recaptcha - bake into core"
https://www.google.com/recaptcha/intro/index.html

currently only in the form app, need to do more with it and move to this new one

[2015-07-22 00:30] bioshazard commented on #43
do eet https://css-tricks.com/responsive-menu-concepts/

[2015-07-22 00:41] bioshazard opened #95 "powered by blank"
fix the powered by link to target `_blank`

[2015-07-22 01:11] bioshazard opened #96 "admin store - vlist"
vlist for zip url install

![image](https://cloud.githubusercontent.com/assets/5616668/8815845/eb785336-2fec-11e5-8bc7-cd6faeb302da.png)

[2015-07-22 01:25] bioshazard opened #97 "admin dashboard - edit nav app"
allow to change app in nav item

[2015-07-22 01:49] bioshazard opened #98 "admin skin - new skin padding"
![image](https://cloud.githubusercontent.com/assets/5616668/8816248/49adffb4-2ff2-11e5-9997-2d0ca1f8b525.png)

fix it!

[2015-07-22 01:54] bioshazard opened #99 "admin skin - check"
![image](https://cloud.githubusercontent.com/assets/5616668/8816297/08ca2cce-2ff3-11e5-8b31-ccab3ce6ea63.png)

check mark should be green

[2015-07-22 01:54] bioshazard commented on #99
also, update the screenshot for the new blue default

[2015-07-23 01:29] wightmike opened #102 "lfcss - select box sizing on mac"
![screen shot 2015-07-22 at 9 25 40 pm](https://cloud.githubusercontent.com/assets/8368570/8841182/9b9126e6-30b8-11e5-8633-c67db1744dcb.png)

Select boxes look too skinny on Mac. (chrome)

[2015-07-23 01:30] bioshazard opened #103 "admin dashboard - sex up"
![image](https://cloud.githubusercontent.com/assets/5616668/8815982/b9cb7f78-2fee-11e5-9439-f199dd9792c5.png)
- WYSIWYG icon
- Fix arrangement (wysiwyg, etc)
- App gallery - create `+ add` button

[2015-07-24 00:52] wightmike commented on #95
this is fixed

[2015-07-24 00:52] #95 closed, assigned to wightmike

[2015-07-24 03:50] wightmike opened #106 "admin dashboard - location bug"
When I save changes to a nav item, that page breaks.

To fix the page, I need to select location: content and update the nav item.

The changes "saves" but location switches back to relbase.

This fixes the page...

![image](https://cloud.githubusercontent.com/assets/8368570/8867305/a5967d16-3195-11e5-83dc-583d19f3df74.png)

[2015-07-24 22:09] bioshazard opened #107 "lf login - forgot?"
Change the forgot `<a>` in the login form to be a clear button.

[2015-07-24 22:11] bioshazard opened #108 "lf css - clear button"
Is there a way we could make a clear button. By default, the background is grey, but I dont want to have to consider the background. It'd be nice to just `<a class="clear button"...>`

[2015-07-24 23:46] ghost opened #109 "Better theming system"
You could think about better theming system, actual one isn't very usable.

[2015-07-24 23:55] wightmike commented on #109
What would you like to see?

[2015-07-25 02:59] bioshazard opened #110 "lf css - border-radius 0"
I think it would be cool to add something like

`.squared * { border-radius: 0 !important; }`

I did it to one of my apps and it looks SWEET. I also like it in the admin. Just square off EVERYTHING. Very Metro.

[2015-07-28 20:52] wightmike opened #111 "users - user profiles"
Users should be able to update their profile information (email, password, username, avatar, etc.)

Currently you must have access to the users area in admin to do so. Front-end users cannot edit their information or even update their password.

[2015-07-28 23:48] bioshazard commented on #110
and `.squared { br0! }`

[2015-07-28 23:49] bioshazard commented on #110
looks good on github too XD

![image](https://cloud.githubusercontent.com/assets/5616668/8946794/cb1f338c-3561-11e5-8aff-3b2ad8a1fa87.png)

[2015-07-29 00:40] wightmike opened #112 "lfcss - tight row & columns"
[code]

[2015-07-29 00:42] peerpressure commented on #112
![image](https://cloud.githubusercontent.com/assets/8368570/8947458/1bf9aa06-3569-11e5-9195-8a81d86d0f1d.png)

[2015-07-29 00:42] wightmike commented on #112
![image](https://cloud.githubusercontent.com/assets/8368570/8947469/31962cfe-3569-11e5-8696-1f3f8f73a022.png)

[2015-07-29 00:53] wightmike opened #113 "lfss - squared, square-all, and round-all"
[code]

[2015-07-29 00:56] wightmike commented on #113
![image](https://cloud.githubusercontent.com/assets/8368570/8947629/2bacc508-356b-11e5-96ef-95f2da134874.png)

[2015-07-29 00:59] wightmike commented on #110
https://github.com/eflip/LittlefootCMS/issues/113

[2015-07-29 00:59] #110 closed, assigned to wightmike

[2015-08-01 00:40] wightmike commented on #113
complete
https://github.com/eflip/LittlefootCMS/pull/116

[2015-08-01 00:40] #113 closed, assigned to wightmike

[2015-08-01 01:50] wightmike commented on #112
complete
https://github.com/eflip/LittlefootCMS/pull/119

[2015-08-01 01:50] #112 closed, assigned to wightmike

[2015-08-01 04:40] wightmike commented on #108
This is complete.
https://github.com/eflip/LittlefootCMS/pull/120

I used `.transparent` instead of `.clear` to avoid confusion with `clear: both;` etc.

[2015-08-01 04:40] #108 closed, assigned to wightmike

[2015-08-01 05:16] wightmike commented on #107
Complete.
https://github.com/eflip/LittlefootCMS/pull/121

[2015-08-01 05:16] #107 closed, assigned to wightmike

[2015-08-10 01:22] bioshazard commented on #111
https://github.com/eflip/LittlefootCMS/tree/userprofile

otw

[2015-08-10 01:26] bioshazard commented on #106
I fixed this in https://github.com/eflip/LittlefootCMS/pull/122 but had to add the wysiwyg because it was saved in that branch. gonna open a separate request for you to make it look pretty

[2015-08-10 01:26] #106 closed, assigned to bioshazard

[2015-08-10 01:27] bioshazard opened #123 "admin dashboard wysiwyg"
plz make this prettier

![image](https://cloud.githubusercontent.com/assets/5616668/9158004/7857eea2-3edd-11e5-9005-54e7d2c0369f.png)

[2015-08-10 01:30] bioshazard commented on #29
notice works in session, but no database for acknowledgement yet

[2015-08-18 19:18] bioshazard opened #124 "lfcss - blockquote"
there is no default formatting for block quote.

I would like something simple like this

https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/

We can talk about specific classes to made further changes, but there should be a default CSS for blockquote without class for things like markdown.

[2015-08-20 01:46] wightmike commented on #124
http://wightdev.com/css/#blockquotes

![image](https://cloud.githubusercontent.com/assets/8368570/9373701/4101e7ce-46bb-11e5-9793-f3a49a124451.png)

[code]

[2015-08-20 01:47] wightmike commented on #124
completed
https://github.com/eflip/LittlefootCMS/pull/125

[2015-08-20 01:47] #124 closed, assigned to wightmike

[2015-09-23 01:05] bioshazard commented on #29
just gonna add an X to clear them from the screen

[2015-10-07 03:52] wightmike opened #127 "admin login - link to front page"
The admin login needs a link to the front page of your site.

"<- Back to MyDomain.com"

![image](https://cloud.githubusercontent.com/assets/8368570/10328615/389cdaa4-6c85-11e5-8887-6f92ec34d5cf.png)

[2015-10-07 03:55] kripplek commented on #127
Use php. `<?php echo $SERVER['HTTP_HOST'] ?>`

[2015-10-07 03:56] kripplek commented on #127
Inb4 put it in the href.

[2015-11-02 00:10] bioshazard commented on #111
https://github.com/eflip/LittlefootCMS/pull/128

[2015-11-02 00:10] #111 closed, assigned to bioshazard

[2015-11-03 01:07] claybruh opened #129 "New install footer"
Change the footer to:

Powered by © LittlefootCMS

instead of:

Powered by ©LittlefootCMS

[2015-11-05 01:10] bioshazard commented on #29
this can be a fancy notice plugin that uses the built in notice system

[2015-11-11 02:50] bioshazard commented on #83
idk man

[2015-11-11 02:50] #83 closed, assigned to bioshazard

[2015-11-11 02:50] bioshazard commented on #72
im gonna do like how redmine does it with wikis

[2015-11-11 03:00] bioshazard opened #130 "Theme clone"
add feature to clone from another theme

[2015-11-22 15:35] bioshazard commented on #84
Nope, its loads from the admin folder now

[code]

[2015-11-22 16:02] bioshazard commented on #84
cleared up in https://github.com/eflip/LittlefootCMS/commit/2f34f4f2fb50c507a28e3585a34a11a3bddecf8d

[2015-11-22 16:02] #84 closed, assigned to bioshazard

[2015-11-22 16:47] bioshazard commented on #37
fixed this up and even sexed up the config page a little

![image](https://cloud.githubusercontent.com/assets/5616668/11324950/6b57e774-910e-11e5-834c-6d1b46169db8.png)

done in https://github.com/eflip/LittlefootCMS/pull/131

[2015-11-22 16:47] #37 closed, assigned to bioshazard

[2015-11-24 01:57] bioshazard opened #132 "admin - hidden navigation hint"
pretty this up

![image](https://cloud.githubusercontent.com/assets/5616668/11355670/bcf706d4-9224-11e5-85f8-ab34037bb40a.png)

[2015-11-24 02:10] wightmike commented on #98
![image](https://cloud.githubusercontent.com/assets/8368570/11355899/a26cd95e-9226-11e5-8cec-af7ac20791a9.png)
Fixed

[2015-11-24 02:10] #98 closed, assigned to wightmike

[2015-11-24 02:26] wightmike commented on #96
![image](https://cloud.githubusercontent.com/assets/8368570/11356156/ea7661fa-9228-11e5-99af-e89de5b79d84.png)
Fixed.

[2015-11-24 02:27] #96 closed, assigned to wightmike

[2015-11-24 02:37] wightmike opened #133 "Debug shows when off"
Debug still shows in page source when set to **off**.
![image](https://cloud.githubusercontent.com/assets/8368570/11356278/5b1b7f0c-922a-11e5-861c-0734de0a7a40.png)

![image](https://cloud.githubusercontent.com/assets/8368570/11356287/67264ffc-922a-11e5-8648-ec93789b0d84.png)

[2015-11-24 02:41] wightmike commented on #133
Ironically when I set debug to **on** it doesn't show on the front end.

[2015-11-24 02:42] wightmike commented on #13
Waiting on fix here: https://github.com/eflip/LittlefootCMS/issues/133

[2015-11-24 02:43] bioshazard commented on #133
fixed https://github.com/eflip/LittlefootCMS/commit/dca27a40559aa00581a6f9d6440dc3478c231f02

[2015-11-24 02:43] #133 closed, assigned to bioshazard

[2015-11-24 02:59] wightmike commented on #102
![image](https://cloud.githubusercontent.com/assets/8368570/11356608/6d6c938c-922d-11e5-8fa0-738c68e3e5b7.png)

Fixed.

[2015-11-24 02:59] #102 closed, assigned to wightmike

[2015-11-24 03:00] wightmike commented on #46
gotta add Code boxes (use radio buttons for _code_ dropdowns)

[2015-11-24 04:44] wightmike commented on #43
Could use this method:
http://wightdev.com/css/#menu

[2015-11-24 04:47] wightmike commented on #103
Could use this method to **expand**
http://wightdev.com/css/#menu

[2015-11-24 04:57] wightmike commented on #129
I changed it to subscript so it looks much better now. A space didn't look right.
![image](https://cloud.githubusercontent.com/assets/8368570/11358172/e9569e60-923d-11e5-8584-5680f85bf789.png)

[2015-11-24 04:57] #129 closed, assigned to wightmike

[2015-11-29 03:13] wightmike commented on #43
YESSSS

![image](https://cloud.githubusercontent.com/assets/8368570/11455158/31eeedd4-961d-11e5-95c9-d30b82d487bb.png)

![image](https://cloud.githubusercontent.com/assets/8368570/11455159/3f05e4d2-961d-11e5-8ab1-8fa192428dc6.png)

[2015-11-29 03:13] #43 closed, assigned to wightmike

[2015-11-29 04:33] wightmike commented on #46
Added code boxes

[2015-11-29 04:33] #46 closed, assigned to wightmike

[2015-12-01 14:36] bioshazard opened #137 "lfcss - ul"
I dont like how you have to add class "vlist" to make ul > li function normally. I would also prefer the default behavior to have bullet points. This is a big problem with markdown. Here is how it should work (github has it right):
- list
- of
- things

[2015-12-07 04:00] bioshazard commented on #12
https://github.com/eflip/LittlefootCMS/pull/138

[2015-12-07 04:06] bioshazard commented on #12
still need to do admin, but im pushing that back to a later milestone

[2015-12-07 04:09] bioshazard commented on #12
https://github.com/eflip/XV/pull/6

[2015-12-07 04:09] bioshazard commented on #12
need to pull latest XV and littlefoot

[2015-12-07 04:16] bioshazard commented on #109
Made some progress in https://github.com/eflip/LittlefootCMS/issues/12 where I replaced the %string% variables system with `$this->lf->printContent('nav')`. ive got a doc started at http://littlefootcms.com/manual/Littlefoot

[2015-12-07 04:16] bioshazard commented on #109
if you have any specific feedback about what you would like to see, please let us know!

[2015-12-07 04:16] #109 closed, assigned to bioshazard

[2015-12-07 05:00] bioshazard commented on #97
https://github.com/eflip/LittlefootCMS/pull/139

[2015-12-07 05:00] #97 closed, assigned to bioshazard

[2015-12-10 22:23] claybruh opened #140 "Post install issues"
After a fresh install, the index loaded a white page with only the following error:

Parse error: syntax error, unexpected '/' in /home/clayton/public_html/cockybadger/lf/apps/pages/index.php on line 45

The error was alleviated by browsing to the dashboard, and updating the 'pages' app through the store. When running the update option, nothing changes on the page to let you know the update has co

[2015-12-10 22:23] claybruh commented on #140
Also, the XV skin does work after an update on it as well.

[2015-12-10 22:59] claybruh opened #141 "Untitled pages"
When creating a new page in the 'pages' app without a title, it leaves you without the option of editing the page without a direct link to it. Would it be possible for LF to automatically label untitled pages as 'untitled1, untitled2, etc' so that they are still editable, yet leave the untitled title off the page on the front end? Alternatively, an option on the backend to disable front end titles

[2015-12-11 03:43] bioshazard commented on #141
rekt https://github.com/eflip/Pages/commit/45466bc1de0f036464796205c839613a74b8b5d7

[2015-12-11 03:46] bioshazard commented on #141
pushed to store

[2015-12-11 08:24] claybruh commented on #141
Would it be possible to add the other features I mentioned? The ability to title the page so it's visible on the list, yet be able to remove the title from the front end?

![screenshot](https://camo.githubusercontent.com/ba91ac360a734a779d5a95017501d0c10fd7f442/687474703a2f2f692e696d6775722e636f6d2f64794e394147332e706e67)

[2015-12-14 02:16] bioshazard commented on #140
I updated all the apps and merged dev into master, released it live and automated installation deployment for quick testing upon each release so we know it doesnt break at installation.

[2015-12-14 02:16] #140 closed, assigned to nobody

[2015-12-14 04:04] bioshazard opened #143 "RPM style package manager"
Move to an RPM style package manager for app/skin/plugins installation. Keep manifests of package contents and allow for easy removal/reinstall.

[2015-12-14 19:13] bioshazard opened #144 "XVI"
2016 coming up. What is next year's theme?

[2015-12-14 19:32] bioshazard opened #145 "header top margin overlap"
I often put links above a header, but the bottom half is overlapped and makes me misclick. Please remove the overlap.

![image](https://cloud.githubusercontent.com/assets/5616668/11791488/51746c84-a26f-11e5-832c-9fdb94672a3e.png)

[2015-12-14 19:32] bioshazard commented on #145
I should mention that I moved some stuff around in dev

https://github.com/eflip/LittlefootCMS/commit/ae5c5df4cb0b4b7790f7dad73f11a115c0c27129

[2015-12-15 02:07] bioshazard commented on #73
https://github.com/eflip/Pages/commit/c94793093f5012b4cd4defb752735be4a8a135e7

[2015-12-15 02:07] #73 closed, assigned to bioshazard

[2015-12-15 02:08] bioshazard commented on #73
Did it to Wiki too

https://github.com/eflip/Wiki/commit/e594cbc2005c9dfdaf0785e3b290b2a29b5e3497

[2015-12-15 02:18] bioshazard commented on #141
https://github.com/eflip/Pages/blob/c94793093f5012b4cd4defb752735be4a8a135e7/index.php#L10

In the latest version of the pages app, the title is only shown in the tab. So now you have to specifically put a header in the page body

[2015-12-16 04:36] bioshazard commented on #66
gg https://github.com/eflip/LittlefootCMS/commit/55f6af251b131ea075a3c7fcee41856c25418e92

[2015-12-16 04:36] #66 closed, assigned to bioshazard

[2015-12-16 15:53] wightmike commented on #13
Debug actually looks fine on the front end now.

JOE, make your code prettier.

[2015-12-18 21:05] claybruh commented on #141
Mike, please remove the header tags per our discussion

[2015-12-20 23:32] bioshazard opened #147 "Docs - lfcss cheat sheet"
Finalize this wiki page.

http://littlefootcms.com/manual/Cheat+Sheet

[2015-12-20 23:34] bioshazard commented on #147
Or consolidate into http://littlefootcms.com/theme/

[2015-12-21 02:36] wightmike commented on #137
done

[2015-12-21 02:56] wightmike commented on #137
https://github.com/eflip/LittlefootCMS/pull/148

[2015-12-21 02:56] #137 closed, assigned to wightmike

[2015-12-21 04:19] wightmike commented on #141
This is already fixed in the latest version of pages. You need to update your pages app.

[2015-12-21 04:20] #141 closed, assigned to wightmike

[2015-12-21 17:19] claybruh commented on #147
The anchor tags are broken on http://littlefootcms.com/theme/ click a link off to the right

[2015-12-22 02:57] bioshazard opened #149 "need nav dropdown caret when children are present"
![image](https://cloud.githubusercontent.com/assets/5616668/11946903/9d200f4e-a82d-11e5-88d5-9b789f3efbc6.png)

[2015-12-22 16:12] bioshazard commented on #12
Yea wow, still need to apply this to many places. Also need to make a decision about how to document and organize things.

[2015-12-23 00:31] claybruh opened #152 "Upgrade issues"
Fatal error: Call to a member function fetchall() on a non-object in /home/clayton/public_html/cockybadger/lf/system/lib/recovery/upgrade.php on line 16

http://claytonfryar.com/cockybadger

[2015-12-23 00:32] claybruh commented on #152
The upgrade littlefoot button works, but not this part

Run lf/system/lib/recovery/upgrade.php

Do both of them perform the same task?

[2015-12-23 01:01] claybruh opened #153 "New skins through store"
Trying to upload a test skin via store, but it's not working nor is it kicking any error messages.

ZIP url: claytonfryar.com/cockybadger/lf/skins/XV.zip
App name: testing

Tried on a couple different LF installs, both on and off the HD reseller.

[2016-01-11 15:12] claybruh opened #154 "New Skin feature update"
i'm playing around with the skin system and tried to create a brand new one, which generated the following when set to default
![image](http://i.imgur.com/6B7FtL1.png)

however it seems like the code included in the skin has the wrong path for the css. XV has the following

[code]

while the newly  create skin has this:

[code]

[2016-02-07 16:33] wightmike commented on #145
I would request that you stop adding links above headers. Headers should be at the top, and "back to..." links can go below them.

[2016-02-12 17:16] wightmike opened #157 "admin nav - mobile collapse"
Admin nav should work like website nav, and collapse for mobile.

[2016-02-12 17:18] wightmike opened #158 "admin nav - redo missing changes due to LF2.0"
- Nav was skinnier
- Text was smaller
- Colors were uniform

[2016-02-12 17:20] wightmike commented on #144
I would like to revisit the naming convention for the theme. Open to ideas.

[2016-02-27 16:54] bioshazard commented on #154
Fixed for 2.0 in https://github.com/eflip/LittlefootCMS/commit/d0ddbdfc8540f4fff88a6075ee4b0150744de24f

[2016-02-27 16:54] #154 closed, assigned to bioshazard

[2016-02-27 16:55] bioshazard commented on #158
my b :100:

[2016-03-13 09:07] bioshazard commented on #152
Fixed Upgrade and Installer https://github.com/eflip/LittlefootCMS/pull/165

[2016-03-13 09:14] bioshazard commented on #152
Turned the upgrade link into a button called "check database" so its more clear

[2016-03-13 09:14] #152 closed, assigned to bioshazard

[2016-03-13 09:19] bioshazard commented on #12
This has been replaced by the [template system](http://littlefootcms.com/docs/classes/lf.template.html)

[2016-03-13 09:19] #12 closed, assigned to bioshazard

[2016-03-13 09:21] bioshazard commented on #145
# Headers

Usually dont overlap the text above

## Them

I will stop, but what happens when you have two sections one after the other?

[2016-03-13 18:55] bioshazard commented on #13
Is this still a problem? I believe it got swept up in 2.0

[2016-03-15 04:11] bioshazard commented on #153
Fixed in https://github.com/eflip/LittlefootCMS/pull/166

Given a zip with contents:

[code]

You can select to download a skin type from a given .zip url (works well for github ;)

![image](https://cloud.githubusercontent.com/assets/5616668/13767596/5f08f4c6-ea42-11e5-9026-0b204aadb8fc.png)

Im going for a kinda yum repo situation for apps, skins, and plugins

[2016-03-15 04:11] #153 closed, assigned to bioshazard

[2016-03-15 04:12] bioshazard commented on #153
https://github.com/eflip/LittlefootCMS/pull/166

[2016-03-18 02:26] bioshazard opened #168 "LF Admin - Access - Selected Tab"
Please add a highlight to the selected tab.

![image](https://cloud.githubusercontent.com/assets/5616668/13866809/6d00205a-ec8f-11e5-9026-af832cf6559d.png)

[2016-03-18 03:17] bioshazard commented on #130
Done in https://github.com/eflip/LittlefootCMS/pull/169

[2016-03-18 03:17] #130 closed, assigned to bioshazard

[2016-03-21 01:47] bioshazard commented on #67
Been lookin at https://screenshotlayer.com/

I may add a place for people to provide their API key for the screenshot operation.

[2016-03-22 02:07] bioshazard commented on #157
do want

[2016-03-31 21:42] bioshazard opened #170 "lf admin - Skin Manager Items are too big"
1920x1080 and I see 2 skins and the tip tops of two others. I think we should reduce it to rows.

![image](https://cloud.githubusercontent.com/assets/5616668/14191770/c4099efc-f767-11e5-88cf-5d35ebc5e4e8.png)

[2016-04-12 23:28] wightmike commented on #158
done

[2016-04-12 23:28] #158 closed, assigned to wightmike

[2016-04-15 03:08] wightmike commented on #170
Completed.
https://github.com/eflip/LittlefootCMS/pull/172

[2016-04-15 03:08] #170 closed, assigned to wightmike

[2016-04-21 23:52] wightmike opened #173 "LF Admin - Access - Users tab error"
[code]

This happens when I click on the `Users` tab.

Noticed when working on the following issue:
https://github.com/eflip/LittlefootCMS/issues/168

[2016-04-22 00:43] wightmike commented on #168
![image](https://cloud.githubusercontent.com/assets/8368570/14728323/89f21852-0801-11e6-851a-6a81893683b5.png)

fixed

[2016-04-22 00:43] #168 closed, assigned to wightmike

[2016-04-22 01:01] wightmike commented on #149
This is really more of a programmatic change.

If nav has children, add the caret icon to the parent nav link.

Example:

`<a>Parent Nav Link <i class="fa fa-caret-down"></i></a>`

[2016-04-22 02:05] wightmike commented on #103
![image](https://cloud.githubusercontent.com/assets/8368570/14729582/2440452c-080d-11e6-869e-7a6ae8fbed8c.png)

Latest

[2016-04-22 02:32] wightmike commented on #145
![image](https://cloud.githubusercontent.com/assets/8368570/14729890/c6c5ca54-080f-11e6-9fee-179ef72c54df.png)

![image](https://cloud.githubusercontent.com/assets/8368570/14730019/d94cd874-0810-11e6-8b27-237f779bfcd2.png)

I believe that if text is placed within an appropriate element such as a `<p>` or a `<div>` it will work fine.

Leaving the text bare or putting it in a `<span>` **will not** w

[2016-04-22 02:32] #145 closed, assigned to wightmike

[2016-04-26 14:44] bioshazard commented on #173
Fixed in https://github.com/eflip/LittlefootCMS/commit/9f892fd777748efc3f57eba691d30398373f03be

[2016-04-26 14:44] #173 closed, assigned to bioshazard

[2016-04-26 15:24] bioshazard commented on #149
https://github.com/eflip/LittlefootCMS/commit/45e4c367dd853bb28ef843dcffec0c5d5563fd5c

[2016-04-26 15:24] #149 closed, assigned to bioshazard

[2016-04-26 16:56] bioshazard opened #175 "Users - Add labels for user editor fields"
![image](https://cloud.githubusercontent.com/assets/5616668/14826982/43cd8ce8-0bae-11e6-8198-ec2ca4326219.png)

[2016-04-26 20:27] wightmike opened #177 "LF Admin - Making h2 Proper"
![image](https://cloud.githubusercontent.com/assets/8368570/14832236/421eb35e-0bc7-11e6-9480-df1668c8ebe9.png)

`h2` needs to be removed from rows on pages like the Dashboard.

[2016-04-26 22:57] wightmike opened #178 "LF Admin - WYSIWYG"
- Needs all functionality of the current dashboard
- Adding apps to nav items and creating new nav items
- Should be able to delete the current Dashboard once complete

[2016-04-26 22:59] wightmike commented on #123
![image](https://cloud.githubusercontent.com/assets/8368570/14836804/ee5994ea-0be0-11e6-9937-d2e2f0141fa9.png)

[2016-04-26 22:59] wightmike commented on #178
Styling issue is here:
https://github.com/eflip/LittlefootCMS/issues/123

[2016-05-20 03:44] bioshazard commented on #178
done. just needs style finalization

[2016-05-20 03:45] bioshazard commented on #178
That can be closed after we merge https://github.com/eflip/LittlefootCMS/tree/wysiwyg3

[2016-06-25 17:27] wightmike commented on #178
good for now, merged

[2016-06-25 17:27] #178 closed, assigned to wightmike

[2016-06-25 17:59] wightmike commented on #177
![image](https://cloud.githubusercontent.com/assets/8368570/16358277/f6f19df2-3adc-11e6-95cd-2d6c9516f06c.png)

done

[2016-06-25 17:59] #177 closed, assigned to wightmike

[2016-06-25 18:11] wightmike commented on #127
nvm

[2016-06-25 18:11] #127 closed, assigned to wightmike

[2016-06-25 18:13] wightmike commented on #103
Next. Level.
![image](https://cloud.githubusercontent.com/assets/8368570/16358356/dc62174e-3ade-11e6-8f4e-f31eff611006.png)
![image](https://cloud.githubusercontent.com/assets/8368570/16358358/edffb61e-3ade-11e6-8f92-80f5f8e744cb.png)

[2016-06-25 18:13] #103 closed, assigned to wightmike

[2016-06-25 18:16] wightmike commented on #93
done on wightdev

[2016-06-25 18:16] #93 closed, assigned to wightmike

[2016-06-25 18:17] wightmike commented on #99
Using power symbol now, and it's green when active.

![image](https://cloud.githubusercontent.com/assets/8368570/16358384/9915ad88-3adf-11e6-9947-dfeb52accab4.png)

[2016-06-25 18:18] #99 closed, assigned to wightmike

[2016-06-25 18:19] #53 closed, assigned to wightmike

[2016-06-25 18:22] wightmike commented on #13
debug works perfectly now

![image](https://cloud.githubusercontent.com/assets/8368570/16358413/418bbae8-3ae0-11e6-8562-4fdf7ecebc81.png)

[2016-06-25 18:22] #13 closed, assigned to wightmike

[2016-06-25 18:28] wightmike commented on #157
done

[2016-06-25 18:28] #157 closed, assigned to wightmike

[2016-06-25 18:30] wightmike commented on #123
this was cleaned up

[2016-06-25 18:30] #123 closed, assigned to wightmike

[2016-06-26 04:16] bioshazard opened #189 "Consolidate Preview Into Nav select"
I moved preview up to the top and consolidated "navigation". I love it. I also like the full screen button. Thoughts?

![image](https://cloud.githubusercontent.com/assets/5616668/16360459/eb7ce96c-3b32-11e6-92e9-a2e7f8e65646.png)

[2016-06-28 22:29] wightmike commented on #144
I'm considering going back to 'Fresh', and ditching a numerical nomenclature.

[2016-06-28 22:31] wightmike opened #190 "Admin Users - pending users can log in"
Users with `pending` status are still able to log in, but they shouldn't be.

[2016-06-28 22:56] wightmike opened #191 "Admin Navigation - URL"
Our new dashboard uses `admin/wysiwyg` as the url, and it should now use `admin/dashboard`.

[2016-06-28 23:11] wightmike opened #192 "Admin Media - we need a file manager"
There is currently no file manager in Littlefoot. We desperately need one.
- Images
- Videos
- .doc, .pdf, .xls, etc

[2017-04-13 23:28] wightmike commented on #191
Navigation is currently accessed via Dashboard in the Admin Menu.

Navigation needs its own Menu item called "Navigation",

[2017-04-13 23:30] wightmike opened #193 "Admin Dashboard - Widgets"
Dashboard will feature widgets for content management of able apps.

[2017-04-13 23:36] wightmike commented on #190
Also **RIP** Edit User function

Warning: Invalid argument supplied for foreach() in /home/wightdev/public_html/lf/system/lib/orm.php on line 858

[2017-04-13 23:40] wightmike commented on #189
Nah, remove Preview

[2017-04-13 23:41] wightmike commented on #189
Also note that Dashboard is changing entirely:
https://github.com/lfcms/LittlefootCMS/issues/191

[2017-04-13 23:42] wightmike commented on #175
Alriiiight

[2017-04-14 00:06] wightmike commented on #147
This is the cheatsheet: http://wightdev.com/css

I'll copy / paste for now.

[2017-04-14 00:07] wightmike commented on #144
It is now called **LittlefootCSS** 4eva

[2017-04-14 00:09] claybruh commented on #144
http://i.imgur.com/vVEnegd.gif

[2017-04-14 00:12] #144 closed, assigned to wightmike

[2017-04-14 00:13] #132 closed, assigned to wightmike

[2017-04-14 00:17] #30 closed, assigned to bioshazard

[2017-04-14 00:24] #29 closed, assigned to bioshazard

[2017-04-14 00:37] wightmike opened #194 "pages - Editor Bugs"
* There is no visible cursor
* What's going on with the line numbers?

[2017-04-14 00:38] wightmike opened #195 "Docs - How to Create a Skin"
You know what to do:

http://littlefootcms.com/manual/

->

https://github.com/lfcms/LittlefootCMS/wiki

[2017-04-14 00:40] wightmike opened #196 "Admin Nav - Review Interface"
* Does everything work?
* Where should it all go?

[2017-04-14 00:43] wightmike opened #197 "Review User Feedback"
https://www.reddit.com/r/cms/comments/601cfn/i_wrote_this_php_based_cmsframework_from_scratch/

Break this up into issues.

[2017-04-14 00:47] wightmike opened #198 "Admin Navigation - Title Field Broken"
The nav item title field is not respected in front end.

[2017-04-14 00:54] wightmike opened #199 "Admin - Help"
Point it to the GitHub wiki -> https://github.com/lfcms/LittlefootCMS/wiki

![image](https://cloud.githubusercontent.com/assets/8368570/25029439/5fe9672e-208b-11e7-8345-e5c26e875b8f.png)

[2017-04-16 00:35] bioshazard commented on #198
Resolved in https://github.com/lfcms/LittlefootCMS/pull/200

[2017-04-16 00:36] #198 closed, assigned to bioshazard

[2017-04-16 00:42] bioshazard commented on #194
This is a bug caused by an incompatibility with LFCSS.

When I inspect element and open `<head>` and rightclick>delete the `<link rel="stylesheet" href="http://dev5.bioshazard.com/littlefoot/lf/system/lib/lf.css" />` element that includes `lf.css`, there is no cursor problem.

![image](https://cloud.githubusercontent.com/assets/5616668/25067779/f3424e78-221b-11e7-8faa-503a19c9dd74.png)

Assigning

[2017-04-16 00:45] bioshazard commented on #189
Can we make it drop-down hidden like the hidden navigation items? Or do we straight up want it gone?

[2017-04-16 02:04] #190 closed, assigned to bioshazard

[2017-04-16 02:04] bioshazard commented on #190
Resolved in https://github.com/lfcms/LittlefootCMS/pull/201

Check out that link for screenshots of some updates to interface

[2017-04-16 05:18] bioshazard commented on #191
Fixed in https://github.com/lfcms/LittlefootCMS/pull/202

[2017-04-16 05:18] #191 closed, assigned to bioshazard

[2017-04-16 05:19] bioshazard commented on #193
Implemented in https://github.com/lfcms/LittlefootCMS/pull/202

Update your blog and pages apps to see it in action!

[2017-04-16 05:19] bioshazard commented on #193
Make it pretty!

[2017-04-17 01:24] bioshazard opened #203 "LFPHP Mem - Context switching"
- Allow for default context to switch. Can handle virtual CMS requests.
- Seems interesting, not sure if it has an application.

[2017-04-17 04:27] bioshazard commented on #192
![image](https://cloud.githubusercontent.com/assets/5616668/25078817/a46eb41e-2304-11e7-8fd0-2e45fe29f1c4.png)

[2017-04-17 04:28] bioshazard commented on #192
![image](https://cloud.githubusercontent.com/assets/5616668/25078826/bdfea88a-2304-11e7-8cdf-b5974add682e.png)

[2017-04-17 04:28] bioshazard commented on #192
![image](https://cloud.githubusercontent.com/assets/5616668/25078832/d51e1a78-2304-11e7-860e-36cea43732a9.png)

[2017-04-17 04:30] bioshazard commented on #192
Addressed in https://github.com/lfcms/LittlefootCMS/pull/204

Turning this over to Mike to beautify.

[2017-04-18 02:45] wightmike opened #205 "LF Admin"
rename files in lf/system/admin

There are a bunch of confusing dashboard files. Now that dashboard and navigation are separate, we should have these all renamed according to their respective roles.

[2017-04-18 02:50] wightmike commented on #199
completed https://github.com/lfcms/LittlefootCMS/pull/206

[2017-04-18 02:50] #199 closed, assigned to wightmike

[2017-04-18 02:57] wightmike commented on #189
Hold onto the code for later. Right now I find it superfluous and confusing (non-intuitive). It takes up a lot of space on a page that shouldn't be very big. I could go on but I'm not trying to "shit on" the idea. I just don't think it's necessary or appropriate for the Nav page at this time. The navigation items can be seen at the top of the page. Seeing them "in action" doesn't change much or ma

[2017-04-18 03:41] wightmike commented on #194
border: 0; on the css reset caused this problem.

moved div to its own line resetting everything but border:

[code]

https://github.com/lfcms/LittlefootCMS/pull/207

[2017-04-18 03:41] #194 closed, assigned to wightmike

[2017-04-20 03:15] bioshazard commented on #189
Moved in https://github.com/lfcms/LittlefootCMS/pull/208 from Nav to new hidden [experimental](https://github.com/lfcms/LittlefootCMS/blob/development/lf/system/admin/controller/experimental.php#L31) admin page

![image](https://cloud.githubusercontent.com/assets/5616668/25212011/0582fb7c-2556-11e7-8456-cce45aab24fb.png)

[2017-04-20 03:15] #189 closed, assigned to bioshazard

[2017-04-21 02:28] bioshazard commented on #195
User Manual published: https://github.com/lfcms/LittlefootCMS/wiki/Littlefoot-User-Manual

Dev manual pending

[2017-05-05 00:38] bioshazard opened #209 "Docs - Full PHP Doc"
Going to rely entirely on the PHP Doc for the developer guide. Need to get docs on all methods.

http://littlefootcms.com/docs/namespaces/lf.html

[2017-05-08 02:43] wightmike commented on #175
This was done:
![image](https://cloud.githubusercontent.com/assets/8368570/25788364/8d4c1722-3376-11e7-900c-85275106d66e.png)

But I'm gonna make it better...

[2017-05-08 03:29] wightmike commented on #175
Meh, I lied...

Just took care of spacing.

![image](https://cloud.githubusercontent.com/assets/8368570/25789222/ef29f562-337c-11e7-88cf-aef2af3bc17e.png)

Might look into fancier input boxes in the future for things like login and search.

[2017-05-08 03:29] #175 closed, assigned to wightmike

[2017-05-10 23:12] wightmike commented on #193
Need to figure out what to do with this:
![image](https://cloud.githubusercontent.com/assets/8368570/25925109/8abdb7aa-35b4-11e7-8244-db5593e1299b.png)

* Is it even necessary?
* Would these links be better of in the widgets themselves?

[2017-05-13 00:39] bioshazard commented on #193
The function of this is to display all the navigation items where an app is linked so you can quickly go to it for modification. It may be more appropriate in the navigation page or removed entirely... I can always recreate it immediately... I will just remove it.

https://github.com/lfcms/LittlefootCMS/commit/76bee3fb0a1cf6863a1b4af33c7623aceeaf0458

[2017-05-13 00:40] bioshazard commented on #193
Let me know if you have any interest in linking them in the widgets. I did that originally, but I felt it was better on the right. I worry now that I am falling back on my old bad habit of injected unless nonsense that an end user has no use for.

[2017-05-16 02:34] wightmike commented on #193
We can revisit this later.

[2017-05-16 02:34] #193 closed, assigned to wightmike

[2017-05-16 02:54] wightmike commented on #192
Styled up a tad. Good for now.

**Delete button does not work!**

[2017-05-22 02:45] bioshazard commented on #192
delete button has been implemented in development.

do you intend to do more styling to this? or should this issue just be closed?

[2017-05-28 17:34] bioshazard commented on #195
Dev manual implemented. Skin explanation is all that is left, unless you do not intend to have a wiki on the topic. Leaving to your ownership, though you can tackle that next milestone given the short notice.

https://github.com/lfcms/LittlefootCMS/wiki/Littlefoot-Developer-Guide#21-skins

[2017-05-28 17:36] bioshazard commented on #195
I also updated http://littlefootcms.com/manual/ to redirect to github wiki

[2017-06-01 23:13] bioshazard opened #215 "Admin - Dashboard Default Highlight"
Visiting /admin doesnt highlight dashboard nav item. Fix that.

[2017-06-01 23:22] wightmike commented on #195
Update the following link to show how skins are created / used:

https://github.com/lfcms/LittlefootCMS/wiki/Developing-Skins

[2017-06-01 23:34] bioshazard opened #216 "Update lfcms.com to 2.0"
Its on 1.0... ewwwww

[2017-06-01 23:36] bioshazard commented on #147
Depends on https://github.com/lfcms/LittlefootCMS/issues/216

[2017-06-01 23:36] wightmike commented on #147
Website needs to be updated for cheat sheet to work.

[2017-06-01 23:43] bioshazard opened #217 "Admin Media - Drag and Drop"
Remove this from media upload form:

TODO: DRAGON DROP // ty http://tutorialzine.com/2011/09/html5-file-upload-jquery-php/

Then implement it later.

[2017-06-01 23:46] wightmike commented on #192
Just remove this:

[code]
and we're good for now.

[2017-06-01 23:47] bioshazard commented on #192
Removal pending https://github.com/lfcms/LittlefootCMS/issues/217

[2017-06-01 23:51] bioshazard commented on #196
- Everything does work.

[2017-06-02 00:05] bioshazard commented on #196
I will review everything to make sure it works.

[2017-06-02 00:13] bioshazard commented on #205
- Delete things that aren't in use any more
- Rename dashboard partials to navigation partials
- Document naming convention standard
- Rename all files to meet naming convention standard

[2017-06-05 03:31] wightmike commented on #81
Done.
https://github.com/lfcms/LittlefootCMS/pull/218

[2017-06-05 03:31] #81 closed, assigned to wightmike

[2017-06-15 00:34] bioshazard commented on #205
🎵 I can see clearly now, the cruft is gone 🎵

![image](https://user-images.githubusercontent.com/5616668/27160248-ca3c2298-5140-11e7-8290-e6716514cd61.png)

[2017-06-15 00:34] #205 closed, assigned to bioshazard

[2017-06-18 00:10] bioshazard commented on #217
rm'd todo: https://github.com/lfcms/LittlefootCMS/commit/de7cc5cb10a0995e6565d3ce72385b4054a86700

[2017-06-18 00:11] bioshazard commented on #217
implement this in GBoF

[2017-06-18 00:11] bioshazard commented on #192
Resolved https://github.com/lfcms/LittlefootCMS/commit/de7cc5cb10a0995e6565d3ce72385b4054a86700

[2017-06-18 00:11] #192 closed, assigned to bioshazard

[2017-06-18 21:13] bioshazard commented on #196
It all works now. Switched to using IDs for menu item selection. Handing this back to you to deal with reviewing the interface design. I vote we move or fork this to GBoF.

[2017-06-18 21:16] bioshazard opened #221 "Theme copy naming"
- Copying a theme currently gives it a random UUID name.
- Need to rather set it to "Theme - Copy X"

[2017-06-18 21:21] bioshazard opened #222 "Template editing"
- Need to review template editing system
- Wysiwyg is superior
- Found this: http://grapesjs.com/
 - Its open source
 - I think it would be compatible with LFCSS!

[2017-06-18 21:22] bioshazard opened #223 "Theme color management"
- Introduce theme color setting
- Provide config option for primary/secondary color (maybe args.php?)

[2017-06-18 21:24] bioshazard commented on #197
- Theme copy name weirdness: https://github.com/lfcms/LittlefootCMS/issues/221
- Theme wysiwyg: https://github.com/lfcms/LittlefootCMS/issues/222
- Theme color management: https://github.com/lfcms/LittlefootCMS/issues/223
- The rest was either implemented or goes against our existing design decisions.
- This task was to break the feedback into issues.

[2017-06-18 21:24] #197 closed, assigned to bioshazard

[2017-06-18 22:48] bioshazard commented on #147
lfcms.com has been updated to latest version 2. now uses git for version control.

[2017-06-23 00:29] bioshazard commented on #196
looks great. works great.

[2017-06-23 00:29] #196 closed, assigned to wightmike

[2017-06-23 00:40] wightmike commented on #147
Done.
http://littlefootcms.com/theme/

[2017-06-23 00:40] #147 closed, assigned to wightmike

[2017-06-23 00:56] #195 closed, assigned to wightmike

[2017-06-23 01:27] wightmike opened #224 "Change the Name of XV Skin"
XV is about 2 years outdated.

I want a more permanent (and suitable) name.

[2017-06-23 01:29] bioshazard commented on #216
resolved

[2017-06-23 01:29] #216 closed, assigned to bioshazard